Acquire::http::proxy "socks5h://{{ shadowsocks_local_address }}:{{ shadowsocks_local_port }}/";
Acquire::https::proxy "socks5h://{{ shadowsocks_local_address }}:{{ shadowsocks_local_port }}/";
Acquire::ftp::proxy "socks5h://{{ shadowsocks_local_address }}:{{ shadowsocks_local_port }}/";
