{
    "server": "{{ shadowsocks_server }}",
    "server_port": "{{ shadowsocks_server_port }}",
    "local_address": "{{ shadowsocks_local_address }}",
    "local_port": "{{ shadowsocks_local_port }}",
    "password": "{{ shadowsocks_password }}",
    "timeout": 300,
    "method": "{{ shadowsocks_method }}",
    "fast_open": false,
    "workers": {{ shadowsocks_workers }}
}
